{% extends "nav.html" %}
{% block content %}
    <style>
        .postContainer {
            background-color: rgb(236, 236, 236);
            padding: 5vh;
            margin: 2vh
        }
    </style>
    <h1>Create Post</h1>
    <a href="/CreatePost/"><button>Create Post</button></a>
    {% for post in posts %}
        <div class="postContainer">
            <h1>{{post.title}}</h1>
            <p>{{post.description}}</p>
            <p>{{post.authorName}}</p>
        </div>
        
    {% endfor %}
{% endblock %}